.container .row {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
}

.nav {
    background-color: rgb(153, 95, 7) ;
}

.nav .navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    font-size: 140%;
}

.nav .navbar-expand-lg .navbar-nav li:hover, .active {
    background-color: rgb(184, 113, 8);
}


.nav .navbar {
    padding: 0;
}

.btn-group {
    border-radius: 0px;
}




.header-contact{
    background-image: url("../img/Contact/banner-lienhe.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 300px;

}  
.Pleasse{
    margin-top: -60px;
}
.header-contact h1{
    margin-top: 100px;
}
.conten_ft{
    padding: 5px;
}
.container_contact{
    margin-bottom: 5px;
}
.header-contact h1 p{ 
    margin-top: 100px;
}
.a{
    height: 15px;
    width: 15px;
}
#xn{
    height: 20px;
    width: 20px;
}
.bt1{
    margin-bottom: 15px;
    margin-top: 10px;
}
.btn1{
    width: 200px;
  
}
.TT{
   text-align: center;
}