.row {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
}

.nav {
    background-color: rgb(153, 95, 7) ;
}

.nav .navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    font-size: 140%;
}

.nav .navbar-expand-lg .navbar-nav li:hover, .active {
    background-color: rgb(184, 113, 8);
}


.nav .navbar {
    padding: 0;
}

.h1 {
    border-radius: 100px;
}

.btn-group {
    border-radius: 0px;
}

.teamilk {
    display: inline;
}

.thumb-content {
    text-align: center;
}

.product .header-product {
    text-align: center;
    background-color: rgb(243, 202, 168);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}


.product-title  p {
    text-align: center;
    text-transform: uppercase;
}

.product-list-s .col-md-4 {
    text-align: center;
}

.product-list-s .col-md-4 .h5 {
    color: crimson;
}

.product-list-s .col-md-4 .h4 {
    color: green;
}

.product-list-s .card:hover>img {
    transform: scale(1.04);
}

.modal-backdrop {
    z-index: 1040;
  }


.modal-content table p {
    text-align: right;
}

.modal-content table input {
    width: 60%;
}

.modal-content table th {
    width: 25%;
    text-align: center;
}

.modal-content table th:first-child {
    width: 30%;
}

.modal-content {
    width: 150%;
}

.modal-content table td {
    text-align: center;
}
.modal .h5 {
    text-align: right;
}