.row {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fff;
}
.img-thumbnail_2 {
  width: 18rem;
  height: 18rem;
}
.nav {
  background-color: rgb(153, 95, 7);
}
/* Bổ sung CSS */
.img-fluid_2_2 {
  max-width: 45%;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
/* ------------ */
.nav .navbar-expand-lg .navbar-nav .nav-link {
  color: white;
  font-size: 140%;
}

.nav .navbar-expand-lg .navbar-nav li:hover,
.active {
  background-color: rgb(184, 113, 8);
}

.nav .navbar {
  padding: 0;
}

.btn-group {
  border-radius: 0px;
}
body {
  /* background-image: url("../img/HomePage/Background.jpg"); */
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10vw;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  /* font-family: Arial, Helvetica, sans-serif; */
}

#logo1 {
  width: 6vw;
  height: auto;
  border-radius: 5vw;
  display: flex;
  left: 0;
  position: relative;
  padding: 1vw 0.5vw;
}

#header {
  background-color: rgba(255, 255, 255, 1);
  height: 8vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
}

#main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

#main-menu li a {
  color: black;
  font-weight: bolder;
  display: block;
  padding: 0px 4vw;
  line-height: 8vw;
  text-decoration: none;
  font-size: 1.5vw;
}

#main-menu li {
  position: relative;
}

#main-menu ul.sub-menu {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  padding: 0;
  list-style: none;
  width: 25vw;
  display: none;
  z-index: 3;
  box-shadow: 0vw 0.1vw 0.1vw 0.1vw grey;
}

#main-menu ul.sub-menu a {
  line-height: normal;
  padding: 0.5vw 1vw;
  margin: auto;
  border-bottom: 0.1vw solid green;
}

#main-menu ul.sub-menu li:hover a {
  background-color: aqua;
}

#main-menu ul.sub-menu li:last-child a {
  border: none;
}

#main-menu li:hover ul.sub-menu {
  display: block;
}

#main-menu > li > a {
  position: relative;
}

#main-menu > li > a::before {
  content: "";
  height: 0.2vw;
  width: 0%;
  background: green;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#main-menu > li:hover > a::before {
  width: 100%;
}

#icon {
  position: absolute;
  font-size: 5vw;
}

#main-menu > li:last-child {
  padding: 1.5vw 0vw;
  padding-left: 12vw;
  position: relative;
}

#sub-menu2 {
  position: absolute;
  left: 5.4vw;
  top: 8vw;
}

.news {
  color: brown;
  font-style: italic;
}

#tieude {
  color: brown;
  border-bottom: 1px solid;
  text-align: center;
  text-shadow: 20px 10px 10px burlywood;
}

.fontchu {
  font-style: italic;
  color: brown;
}

#xemthem {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  color: red;
  font-size: 20px;
}
hr {
  border: px solid;
  color: black;
}
.footer .row .col-md-4 {
  background-color: rgb(153, 95, 7);
  text-align: center;
  color: #fff;
  font-size: 60%;
}

.footer .row .col-md-8 ul {
  list-style: none;
  padding: 0;
  font-size: 60%;
}
.footer {
  margin-top: 10px;
  clear: both;
}

.header-contact {
  background-image: url("../img/News/banner-tintuc-uudai.png");
  height: 300px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}
